        <!--javascript ここから-->
        <script src="./js/main.js"></script>
        <script>
            var body = document.getElementsByTagName('body');
            console.log(body[0].style);
            body[0].style.height = window.innerHeight + 'px';
        </script>
        <!--javascript ここまで-->
    </body>
</html>
