<% include const/_const %>
<%
var id = "index";
var title = "";
var description = "sample text,sample text";
var keywords = "word1,word2,word3";
var type = "blog";
%>
<% include metadata/_head %>

<!--start l-contents-->

<main class="l-quiz l-container">

    <p class="thanks">
        Thanks!
    </p>

</main>
<!--end l-contents-->

<% include metadata/_script %>