<% include const/_const %>
<%
var id = "index";
var title = "";
var description = "sample text,sample text";
var keywords = "word1,word2,word3";
var type = "blog";
%>
<% include metadata/_head %>

<!--start l-contents-->

<main class="l-quiz l-container">

    <div class="l-quiz-question">
        <dl class="question">
            <dt>Q1.What font is this？</dt>
            <dd id="js-img"></dd>
        </dl>
    </div>

    <div class="l-quiz-buttons" id="js-buttons"></div>
</main>
<!--end l-contents-->

<% include metadata/_script %>